/* Hector Ramos */
/* July 8, 2015 */
@charset "utf-8";

body{
/*  background-image: url("http://i.imgur.com/lD5Kmau.jpg"); */
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

input {
  /* display: inline; */
}

#button {
  
}

p{
  text-align: center;
}